.link-img{
    width: 100px;
    height: 100px;
    background-color: #ffffff45;
    border-radius: 100%;
    margin: 50px;
    border: 2px solid #209c85;
}

.link-img:hover{
    box-shadow: 0px 0px 12px #209c85;
}
