#profile-info{
    text-align: center;
    border: 1px solid #011a30;
    border-radius: 2em;
    width: 50%;
    margin: 0 auto;
    margin-top: 125px;
}

.pet-card{
    border: 1px solid #011a30;
    text-align: center;
    margin: 25px auto;
    width: 50%;
    border-radius: 2em;
}

.pet-pfp{
    width: 150px;
    border: none;
    border-radius: 5em;
}
