/* TODO: Add sitewide styles */
* {
  font-family: "EB Garamond", serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-size: 16px;
  color: rgba(255, 255, 255, 0.75);
}

html,
body {
  background-color: #011a30;
}

li {
  list-style-type: none;
  background-color: #209c85;
  color: rgba(255, 255, 255, 0.75);
  border: none;
  border-radius: 1em;
  padding: 10px 20px;
  width: 30%;
  margin: 5px auto;
  text-align: center;
}

li:hover {
  cursor: pointer;
  color: #011a30;
}

button {
  background-color: #209c85;
  color: rgba(255, 255, 255, 0.75);
  border: none;
  border-radius: 1em;
  padding: 15px;
  margin: 5px;
}

button:hover {
  cursor: pointer;
  color: #011a30;
}

.modal-button {
  background-color: #209c85;
  color: rgba(255, 255, 255, 0.75);
  border: none;
  border-radius: 1em;
  padding: 10px 20px;
}

.modal-button:hover {
  cursor: pointer;
  color: #011a30;
}

.choose-file {
  margin-left: 20%;
  margin-bottom: 15px;
}

.confirm-delete {
  list-style-type: none;
  color: rgba(255, 255, 255, 0.75);
  border: none;
  border-radius: 1em;
  padding: 10px 20px;
  width: 40%;
  margin: 5px auto;
  text-align: center;
}

.confirm-delete:hover {
  background-color: #ec223a;
  color: #011a30;
  /* color: white; */
}

.delete {
  list-style-type: none;
  background-color: transparent;
  padding: 1px;
}

.delete:hover > .fa-trash-can {
  color: #ec223a;
  /* color: white; */
}

.fa-trash-can {
  color: rgba(255, 255, 255, 0.75);
}

.form-title {
  text-align: center;
  border-bottom: 1px solid #209c85;
  width: 90%;
  margin: 0 auto;
  padding-top: 15px;
  padding-bottom: 10px;
  font-size: 38px;
  margin-bottom: -40px;
}

.form-pic {
  margin: 0 auto;
  display: flex;
  margin-bottom: 25px;
  border: none;
  border-radius: 5em;
  width: 125px;
  height: 125px;
}
form{
  justify-content: center;
}

.form{
  position: relative;
  width: 89%;
  margin: 0 auto;
  margin-left: 0;
  margin-bottom: 4rem;
}

.form__input{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  outline: none;
  padding: 1.25rem;
  border: 2px solid white;
  border-radius: 1em;
  background-color: #011a30;
}

.form__input:hover{
  border: 2px solid #209c85;
  outline: none;
}

.form__input:focus{
  border: 2px solid #209c85;
  outline: none;
}

.form__label{
  position: absolute;
  left: 1rem;
  top: 0.8rem;
  padding: 0 0.5rem;
}

.form__input:focus ~ .form__label, .form__input:not(:placeholder-shown).form__input:not(:focus) ~ .form__label {
  font-size: 14px;
  top: -0.5rem;
  left: 0.8rem;
  background-color: #011a30;
}

input[type="checkbox"]:hover {
  cursor: pointer;
}

select{
  color: #011a30;
  padding: 1px 10px;
  margin: 7px;
}

.delete-div{
  margin-top: 50px;
}
