.profile-dropdown {
  position: absolute;
  width: 22px;
  right: 0;
  margin-right: 144px;
  margin-top: 196px;
}

.profile-dropdown > li {
  background-color: rgb(1, 26, 48, .3);
  color: #011a30;
  border: none;
  width: 150px;
  padding: 8px;
  text-align: center;
  font-size: 12px;
  margin: 0;
}

.profile-dropdown > li:hover{
  cursor: pointer;;
  background-color: rgb(1, 26, 48, .9);
  color: #209c85;
}

#logo{
  width: 100px;
  margin-left: 10px;
}

nav{
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #209c85;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 10;
}

#search-bar{
  border: none;
  border-radius: 2em;
  padding: 0.5em 1em;
  width: 40%;
  height: 25px;
  font-size: 16px;
  box-shadow: 3px 3px 3px black;
  font-size: 18px;
}

#search-bar:focus{
  box-shadow: 4px 4px 4px black;
}

#search-bar:focus{
  border: none;
  outline: none;
}

nav > button{
  margin-right: 25px;
  background-color: #209c85;
  border: none;
}

nav > button:hover{
  cursor: pointer;
}
