.profile-dropdown {
  position: absolute;
  right: 0;
  margin-top: 192px;
  margin-right: 38.5px;
  border-radius: 0 0 1em 1em;
  background-color: #011a30;
  border: 2px solid #209c85;
}

.profile-dropdown > li {
  background-color: #011a30;
  color: rgba(255, 255, 255, 0.75);
  border: none;
  width: 75px;
  padding: 18px 15px;
  text-align: start;
  font-size: 15px;
  margin: 0;
  text-align: end;
}

.profile-dropdown > li:hover {
  cursor: pointer;
  color: #209c85;
  text-decoration: underline;
}

#logo {
  width: 100px;
}

nav {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #209c85;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 10;
  height: 104px;
  padding: 0 20px;
}

nav > button {
  margin-right: 25px;
  background-color: #209c85;
  border: none;
}

nav > button:hover {
  cursor: pointer;
}
