.profile-dropdown {
  position: absolute;
  right: 0;
  margin-right: -10px;
  margin-top: 195px;
  border-radius: 0 0 1em 1em;
  background-color: #212f44;
}

.profile-dropdown > li {
  background-color: #212f44;
  color: rgba(255, 255, 255, 0.75);
  border: none;
  width: 150px;
  padding: 10px;
  margin-left: -55px;
  text-align: start;
  font-size: 15px;
  margin: 0;
}

.profile-dropdown > li:hover {
  cursor: pointer;
  color: #209c85;
  text-decoration: underline;
}

#logo {
  width: 100px;
  margin-left: 10px;
}

nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #209c85;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 10;
}

#search-bar {
  border: none;
  border-radius: 2em;
  padding: 0.5em 1em;
  width: 50%;
  height: 25px;
  font-size: 16px;
  box-shadow: 3px 3px 3px black;
  color: #212f44;
  font-size: 18px;
}

#search-bar:focus {
  box-shadow: 4px 4px 4px black;
}

#search-bar:focus {
  border: none;
  outline: none;
}

input[type="search"]::-webkit-search-cancel-button {
  color: #212f44;
  font-size: 18px;
  padding: 2px;
  cursor: pointer;
}

.search-filters,
.search-filters-hidden {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 95%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  background-color: #011a30;
  color: #209c85;
  border: 1px solid #209c85;
  height: auto;
  border-radius: 0 0 3em 3em;
  overflow: hidden;
  transition: max-height 3s ease;
}

.search-filters {
  max-height: 500px;
  opacity: 1;
  margin-top: 104px;
  padding: 20px;
}

.search-filters-hidden {
  max-height: 0;
  opacity: 0;
  transition: max-height 0.1s ease;
}

nav > button {
  margin-right: 25px;
  background-color: #209c85;
  border: none;
}

nav > button:hover {
  cursor: pointer;
}
